<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <header th:fragment="header" class="topbar">
    <div class="topbar-left">
      <button class="menu-button" id="vina-menu-button" type="button">
        ☰
      </button>
      <span class="breadcrumb">Dashboard Production</span>
    </div>
    <div class="topbar-actions">
      <span class="role-pill">RO02 - Responsable Production</span>
      <button
        class="btn btn-ghost btn-small"
        id="vina-logout-button"
        onclick="window.location.href = '/'"
        type="button"
      >
        Déconnexion
      </button>
    </div>
  </header>
</body>
</html>
